    <div class="jumbotron">
      <div class="container">

  <h1 class = "center"> Welcome to Catinder! </h1>

  <h3 class = "center">  <i> Who is Meow, and who is Not-Meow? You decide!</i> </h3>

  <p> Click <a href = "/cats"> here </a> to get started! </p>

</div>
</div>
