<nav class="navbar navbar-default">
 <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href = "/cats"> Catinder </a></li>
      </ul>
  </div>
</nav>

<h4 class = "center-block"> You can either choose a
<%= link_to 'random cat', cat_path(@random_cat) %>
or click one from the list! <h4>


<% @cat.each do |c| %>
    <img src = <%= c.image_uri %> class="img-responsive center-block"  >
    <h4 class = "center-block"> <%= link_to c.name, cat_path(c) %> </h4>
    <h5 class = "center-block"> <%= c.votes%> Votes </h5>
<% end %>

